---
layout: frontpage
---

{% include header.html %}

<div class="white-stripe">
  <div class="container">
    <div class="at-symbol">@</div>
    <div class="logo">
      <div class="at">at</div>
      <div class="lang">lang</div>
    </div>
    <ul class="nav">
      <li><a href="{{ site.baseurl }}/tutorial/">Tutorial</a></li>
      <li><a href="{{ site.baseurl }}/tutorial/">Documentation</a></li>
      <li><a href="{{ site.baseurl }}/download/">Download</a></li>
      <li><a href="{{ site.baseurl }}/community/">Community</a></li>
    </ul>
  </div>
</div>

<div class="splash">
  <div class="container">
    <div class="tagline">An <span class="emph">extensible static type system</span> implemented as a <span class="emph">Python library</span>.</div>
  </div>
</div>

{{ content }}

{% include footer.html %}